html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: 70%;
  height: 100%;
  display: inline-block;
}
#todo {
  width: 29%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
}
