@font-face {
  font-family: 'alcubierreregular';
  src: url("../fonts/alcubierre-webfont.woff2") format("woff2"), url("../fonts/alcubierre-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "alcubierreregular"; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.map-wrap {
  width: 70%;
  height: calc(100% - 110px);
  min-height: 500px;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding-bottom: 20px; }

.map-nav {
  width: 100%;
  height: 110px; }

#map {
  width: 100%;
  height: calc(100% - 110px);
  min-height: 400px; }

.map-icon {
  display: inline-block; }

.todo-wrap {
  width: 25%;
  height: calc(100% - 110px);
  min-height: 500px;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5%;
  padding-bottom: 20px; }

.todo-header {
  width: 100%;
  height: 110px;
  color: #898989;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding-top: 55px;
  font-size: 30px;
  letter-spacing: 5px; }

#todo {
  width: 100%;
  height: calc(100% - 110px);
  border: 2px solid rgba(137, 137, 137, 0.3);
  min-height: 400px;
  overflow: auto;
  padding-top: 30px; }

.header-wrap {
  position: relative;
  height: 110px;
  width: 100%;
  background-image: url("../images/headerbg.jpg");
  background-size: cover;
  background-position: center bottom; }

.header-logo {
  height: 38px;
  width: 42px;
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../images/headerlogo.png");
  background-size: cover;
  background-position: center bottom; }

.header-border {
  width: 97%;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid white; }

.header-name {
  color: white;
  font-size: 42px;
  padding-left: 120px;
  padding-top: 30px;
  letter-spacing: 6px; }

.todo-event {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 12px 16px 12px 16px;
  box-shadow: 0px 0px 8px rgba(137, 137, 137, 0.2);
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.todo-event:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0px 0px 8px rgba(137, 137, 137, 0.4); }

.todo-name {
  text-transform: uppercase;
  font-size: 16px;
  padding-right: 28px;
  color: rgba(137, 137, 137, 0.6);
  letter-spacing: 1px;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 8px; }

.todo-site {
  text-transform: uppercase;
  font-size: 11px;
  padding-right: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #878787;
  line-height: 15px; }

.todo-close {
  font-size: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 25px;
  color: #898989;
  border: 1px solid rgba(137, 137, 137, 0.2);
  position: absolute;
  top: 12px;
  right: 12px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.todo-close:hover {
  background-color: #898989;
  color: white; }

.map-nav {
  text-align: center; }

.map-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 52px;
  cursor: pointer; }

.map-icon:hover {
  box-shadow: 0 3px 1px #888888; }

.camping {
  background-image: url("../images/icon-camping.png"); }

.caravan {
  background-image: url("../images/icon-caravan.png"); }

.heritage {
  background-image: url("../images/icon-heritage.png"); }

.fishing {
  background-image: url("../images/icon-fishing.png"); }

.picnicing {
  background-image: url("../images/icon-picnic.png"); }

.trees {
  background-image: url("../images/icon-trees.png"); }

.landmarks {
  background-image: url("../images/icon-landmarks.png"); }

.huts {
  background-image: url("../images/icon-hut.png"); }

.recreation {
  background-image: url("../images/icon-recreation.png"); }

.leisure {
  background-image: url("../images/icon-leisure.png"); }

.worship {
  background-image: url("../images/icon-worship.png"); }

.wildlife {
  background-image: url("../images/icon-wildlife.png");
  margin-right: 0px; }
