.map-nav {
  text-align: center;
}

.map-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 52px;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba($color-grey, 0.2);
  position: relative;
}

.camping {
  background-image: url('../images/icon-camping.png');
}

.caravan {
  background-image: url('../images/icon-caravan.png');
}

.heritage {
  background-image: url('../images/icon-heritage.png');
}

.fishing {
  background-image: url('../images/icon-fishing.png');
}

.picnicing {
  background-image: url('../images/icon-picnic.png');
}

.trees {
  background-image: url('../images/icon-trees.png');
}

.landmarks {
  background-image: url('../images/icon-landmarks.png');
}

.huts {
  background-image: url('../images/icon-hut.png');
}

.recreation {
  background-image: url('../images/icon-recreation.png');
}

.leisure {
  background-image: url('../images/icon-leisure.png');
}

.worship {
  background-image: url('../images/icon-worship.png');
}

.wildlife {
  background-image: url('../images/icon-wildlife.png');
  margin-right: 0px;
}

.tooltip {
  display: none;
  position: absolute;
  height: 30px;
  top: -42px;
  left: 50%;
  padding: 3px 12px;
  transform: translateX(-50%);
  border: 1px solid rgba($color-grey, 0.3);
  border-radius: 3px;
  white-space: nowrap;
}

.tooltip:after, .tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
  border-color: rgba(136, 183, 213, 0);
	border-top-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.tooltip:before {
  border-color: rgba(194, 225, 245, 0);
	border-top-color: rgba($color-grey, 0.3);
	border-width: 9px;
	margin-left: -9px;
}

.map-icon:hover .tooltip {
  display: block;
}
