.map-nav {
  text-align: center;
}

.map-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 52px;
  cursor: pointer;
}

.camping {
  background-image: url('../images/icon-camping.png');
}

.caravan {
  background-image: url('../images/icon-caravan.png');
}

.heritage {
  background-image: url('../images/icon-heritage.png');
}

.fishing {
  background-image: url('../images/icon-fishing.png');
}

.picnicing {
  background-image: url('../images/icon-picnic.png');
}

.trees {
  background-image: url('../images/icon-trees.png');
}

.landmarks {
  background-image: url('../images/icon-landmarks.png');
}

.huts {
  background-image: url('../images/icon-hut.png');
}

.recreation {
  background-image: url('../images/icon-recreation.png');
}

.leisure {
  background-image: url('../images/icon-leisure.png');
}

.worship {
  background-image: url('../images/icon-worship.png');
}

.wildlife {
  background-image: url('../images/icon-wildlife.png');
  margin-right: 0px;
}
